body {
  background-color: #0d0d0d;
  color: #d9d9d9;
}

.App {
  text-align: center;
}

h1 {
  font-size: 12em;
  font-family: 'Gochi Hand', cursive;
  color: #056cf2;
}

nav {
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #056cf2;
}

ul {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left,
.right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  background-color: #262626;
}
